.heading1{
    font-size: 1.3rem;
    font-weight: 600;
}

.heading2{
    font-size: 1rem;
    font-weight: 600;
}

.para{
    font-size: 0.98rem;
    font-weight: 400;
    margin-left: 30px;
}

.italic{
    font-style: italic;
}

.code{
    font-family: monospace;
    background-color: rgb(223, 220, 250);
    border: 0.5px solid rgb(151, 144, 247);
    border-radius: 3px;
    padding:2px 5px;
}

.imp{
    color: rgb(122, 40, 228);
    font-weight: 600;
    font-size: 1rem;
}

.img-xsm{
    width:20%;
}

.img-sm{
    width: 40%;
}

.img-md{
    width: 60%;
}

.img-lg{
    width: 80%;
}

.img-xl{
    width: 100%;
}
.center{
    margin: auto;
}

pre > code{
    width: 80%;
    height: 300px;
}

.text-purple{
    color: rgb(122, 40, 228);
}

.output{
    font-family: monospace;
    background-color: rgb(252, 251, 230);
    border: 0.5px solid rgb(247, 223, 144);
    border-radius: 3px;
    padding:2px 5px;
}


