{% extends 'expt_layout.html' %}
{% block expt_title %}Insertion Sort{% endblock expt_title %}
{% block toc %}

<div class="list-group-flush p-0 mx-1">
    <a href="#intro" class="list-group-item">1. Introduction</a>
    <a href="#principle" class="list-group-item">2. Principle of Insertion Sort</a>
    <a href="#algo" class="list-group-item">3. Algorithm Steps</a>
    <a href="#example" class="list-group-item">4. Example</a>
    <a href="#implement" class="list-group-item">5. Implementation</a>
    <div class="list-group-flush p-0 mx-3">
        <a href="#cpp_imple" class="list-group-item">5.1 C++ Implementation</a>
        <a href="#python_imple" class="list-group-item">5.2 Python Implementation</a>
    </div>



</div>
{% endblock toc %}

{% block Theory %}
<script>hljs.highlightAll();</script>
<p class="heading1" id="intro">Introduction</p>

<p class="para">
    Insertion sort is one of the sorting algorithms. <br><br>
    To sort the elements in array in ascending or descending Insertion sort can be used
</p>


<p class="heading1" id="principle">Principle of Insertion Sort</p>
<p class="para">The array is divided in two parts <span class="italic">(not actually)</span> left part is sorted and right part is unsorted. <br><br>
    By Iterating from left to right and moving our line which divides to right we make whole array sorted.
</p>

<p class="heading1" id="algo">Algorithm Steps</p>
<p class="para">1. Iterate through array from index 1 to n-1 i.e. iterate whole array as 0th element is already sorted.
    <span class="italic">(0 base indexing)</span> <br><br>
    2. At each iteration check if current element is greater than previous element If it is, then current element is at
    correct position and we continue. <br><br>
    3. And If not, then we have to put it at correct position via comparing all elements behind and <span
        class="imp">moving them 1 step ahead until</span> we find correct position for that current element. <br><br>
    4. By the end of <span class="code">all iterations</span> we get whole array sorted.
</p>

<p class="heading1" id="example">Example</p>
<p class="para">1. Take example of arr [6, 2, 3, 5, 9, 8, 1] of n=7 elements. First step is to iterate through arr from
    index 1. <br>
    2. So at index i=1 check consider [6,2] so 2 is not in its correct position i.e. compare 2 with previous elements
    and move them to right until we find a smaller element than 2. so here 6 will be moved to index 1 and then assign 2
    to its correct position so now array till index 1 is sorted. [2, 6] <br>
    3. Similarly as step 2 for each i do same things and at finally whole array will be sorted. See the image below for
    better understanding.</p>

<img class="img-lg d-flex center" src="{{ url_for('static', filename='img/expt1/img1.png') }}" alt="img1">

<p class="heading1" id="implement">Implementation</p>
<p class="heading2" id="cpp_imple">C++ implementation</p>
<pre><code class="language-cpp center" >#include &lt;iostream&gt;
        using namespace std;

        // Insertion sort function
        void Insertion_Sort(int arr[], int n)
        {
            int i, j, cur;
            // Iterate thorugh array
            for (i = 1; i &lt; n; i++)
            {
                // Store current element in cur
                cur = arr[i];

                // Iterating variable for finding
                // correct position of current element
                j = i - 1;

                // Iterate on behind the current element
                // Until we reach start of array or arr[j]&gt;cur
                while (j &gt;= 0 &amp;&amp; arr[j] &gt; cur)
                {
                    // Each step assign arr[j] to arr[j+1]
                    // i.e. move element ahead
                    arr[j + 1] = arr[j];

                    // Decrement j
                    j--;
                }

                // We found correct position for cur
                // i.e j+1 so assign that to cur
                arr[j + 1] = cur;
            }
        }

        // Display array function
        void Display_Array(int arr[], int n)
        {
            cout&lt;&lt;&quot;Displaying Array...    : &quot;;
            for (int i = 0; i &lt; n; i++)
                cout &lt;&lt; arr[i] &lt;&lt; &quot; &quot;;
            cout &lt;&lt; endl;
        }

        // Main Function
        int main()
        {
            // Sample array we can take input from user also
            int arr[] = {6, 2, 3, 5, 9, 8, 1};

            // Number of elements
            int n = sizeof(arr) / sizeof(arr[0]);

            // Displaying array before sorting
            Display_Array(arr, n);

            // Calling function insertion sort
            Insertion_Sort(arr, n);

            // Displaying array after sorting
            Display_Array(arr, n);

            return 0;
        }</code></pre>

<p class="heading2" id="python_imple">Python implementation</p>

<pre><code class="language-python center"># Insertion sort function
            def Insertion_Sort(arr,n):
                for i in range(1,n):
                    cur = arr[i]
                    j = i - 1
                    while (j &gt;= 0 and arr[j] &gt; cur):
                        arr[j + 1] = arr[j]
                        j-=1
                    arr[j + 1] = cur

            # Display array function
            def Display_Array(arr,n):
                print(&quot;Displaying Array...    : &quot;,end=&quot;&quot;)
                for i in range(n):
                    print(arr[i],end=&quot; &quot;)
                print()

            # Main program
            arr = [6, 2, 3, 5, 9, 8, 1]
            n = len(arr)

            # Displaying array before sorting
            Display_Array(arr, n)

            # Calling function insertion sort
            Insertion_Sort(arr, n)

            # Displaying array after sorting
            Display_Array(arr, n)</code></pre>




{% endblock Theory %}



{% block Analysis %}
<div class="mcq-container">
    <template class="my-3" id="mcq-template">
        <div class="my-3">
            <img class="img-fluid w-50 rounded" id="mcq-image" src="" alt="Question Image" />
        </div>

        <div class="heading1 mb-2" id="mcq-question" >What is the name of Mercury?</div>
        <div class="option-group" id="mcq-options">
            {% for i in range(4) %}
                    <button type="button" class="btn btn-light gradient-head border btn-sm mx-1">{{ loop.index }}. Option</button>
            {% endfor %}
        </div>
    <hr />
    </template>
</div>
{% endblock Analysis %}

{% block CodeArena %}
<div class="template-container">
</div>
<template id="code-question-template">
    <div class="code-question">
        <div class="heading1 gradient-head my-3" id="code-question-title"></div>
        <p id="code-question-desc"></p>
        <div class="row">
            <div class="col-3 border rounded mx-2" id="code-question-inputs">
                <p class="heading2 imp my-2">Input</p>
            </div>
            <div class="col-3 border rounded mx-2" id="code-question-outputs">
                <p class="heading2 imp my-2">Output</p>
            </div>

            <p class="heading2 mt-4">Program</p>
            <div class="row">
                <div class="col-3">
                    <select class="code-lang form-select form-select-sm">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="python3">Python</option>
                        <option value="javascript">JavaScript</option>
                    </select>
                </div>

                <div class="col-auto text-right">
                    <button class="run-button btn btn-sm">
                        Run <i class="fas fa-play fa-sm"></i>
                    </button>
                </div>
                <div class="col-12 mt-3">
                    <textarea class="code-area" id="code-question-area"></textarea>
                </div>

                <div>
                    <div class="heading2 mt-3">Output</div>
                    <div class="code-area-output text-wrap">
                        <pre></pre>
                    </div>
                    <pre id="code-question-summary"></pre>
                </div>
            </div>
        </div>
    </div>
    <hr />
</template>
<div class="certificate container p-5"></div>

<script>
    let mcqs = [
        {
            "question": "What is worst case time complexity of insertion sort?",
            "image": "",
            "options": [
                // answer O(NlogN)
                "O(N<sup>2<sup>)","O(NlogN)","O(N)","O(2<sup>N<sup>)"
            ]
        },
        {
            "question": "What is the running time of an insertion sort algorithm if the input is pre-sorted?",
            "image": "",
            "options": [
                // answer O(N)
                "O(N<sup>2<sup>)","O(NlogN)","O(N)","O(MlogN)"
            ]
        },
        {
            "question": "Which of the following real time examples is based on insertion sort? ",
            "image": "",
            "options": [
                // answer arranging a pack of playing cards
                "arranging a pack of playing cards",
                "database scenarios and distributes scenarios",
                "arranging books on a library shelf","O(MlogN)",
                "real-time systems"
            ]
        },
        {
            "question": "Which of the following options contain the correct feature of an insertion sort algorithm?",
            "image": "",
            "options": [
                // answer stable, adaptive
                "anti-adaptive",
                "dependable",
                "stable, not in-place",
                "stable, adaptive"
            ]
        }
        {
            "question": "What will be the number of passes to sort the elements using insertion sort? 14, 12,16, 6, 3, 10",
            "image": "",
            "options": [
                // answer 5
                "6","5","7","1"
            ]
        }
    ];
    let problems = [
        {
            "title": "Sort the array using Insertion sort",
            "desc": "You have given an array <i>A<i> of <i>n<i> integers.You have to sort the array and print it using insertion sort.",
            "inputs": ["8 2 4 5 1 2 4 5 9"],
            "outputs": ["1 2 2 4 4 5 5 9"]
        },
        {
            "title": "Find positon of each element in sorted array",
            "desc": "You have been given an A array consisting of <i>n<i> integers. All the elements in this array are guaranteed to be <b>unique<b>. For each position i in the array <i>A<i> you need to find the position of <i>A[i]<i> should be present in, if the array was a sorted array. You need to find this for each <i>i<i> and print the resulting solution.",
            "inputs": ["5 8 3 5 2 1"],
            "outputs": ["5 3 4 2 1"]
        },
    ];
</script>
<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
<script src="{{ url_for('static', filename='js/code_arena.js') }}"></script>

{% endblock CodeArena %}