{% extends 'expt_layout.html' %}
{% block expt_title %}Insertion Sort{% endblock expt_title %}
{% block toc %}
   
        <div class="list-group-flush p-0 mx-1">
            <a href="#intro" class="list-group-item">1. Introduction</a>
            <a href="#principle" class="list-group-item">2. Principle of Insertion Sort</a>
            <a href="#algo" class="list-group-item">3. Algorithm Steps</a>
            <a href="#example" class="list-group-item">4. Example</a>
            <a href="#implement" class="list-group-item">5. Implementation</a>
                <div class="list-group-flush p-0 mx-3">
                <a href="#cpp_imple" class="list-group-item">5.1 C++ Implementation</a>
                <a href="#python_imple" class="list-group-item">5.2 Python Implementation</a>
                </div>
        
            

        </div>
{% endblock toc %}

{% block Theory %}
<script>hljs.highlightAll();</script>
<p class="heading1" id="intro">Introduction</p>

<p class="para">Insertion sort is one of the sorting algorithms.<br>To sort the elements in array in ascending or descending Insertion sort can be used.</p>

<p class="heading1" id="principle">Principle of Insertion Sort</p>

<p class="para">The array is divided in two parts <span class="italic">(not actually)</span> left part is sorted and right part is unsorted. By Iterating from left to right and moving our line which divides to right we make whole array sorted.</p>

<p class="heading1" id="algo">Algorithm Steps</p>

<p class="para">1. Iterate through array from index 1 to n-1 i.e. iterate whole array as 0th element is already sorted. <span class="italic">(0 base indexing)</span> <br><br>
    2. At each iteration check if current element is greater than previous element If it is, then current element is at correct position and we continue. <br><br>
    3. And If not, then we have to put it at correct position via comparing all elements behind and <span class="imp">moving them 1 step ahead until</span> we find correct position for that current element. <br><br>
    4. By the end of <span class="code">all iterations</span> we get whole array sorted.</p>

<p class="heading1" id="example">Example</p>
<p class="para">1. Take example of arr [6, 2, 3, 5, 9, 8, 1] of n=7 elements. First step is to iterate through arr from index 1. <br>
    2. So at index i=1 check consider [6,2] so 2 is not in its correct position i.e. compare 2 with previous elements and move them to right until we find a smaller element than 2. so here 6 will be moved to index 1 and then assign 2 to its correct position so now array till index 1 is sorted. [2, 6] <br>
    3. Similarly as step 2 for each i do same things and at finally whole array will be sorted. See the image below for better understanding.</p>

    <img class="img-lg d-flex center" src="{{ url_for('static', filename='img/expt1/img1.png') }}" alt="img1"> 

    <p class="heading1" id="implement">Implementation</p>
    <p class="heading2" id="cpp_imple">C++ implementation</p>
    <pre><code class="language-cpp center" >#include &lt;iostream&gt;
        using namespace std;
        
        // Insertion sort function
        void Insertion_Sort(int arr[], int n)
        {
            int i, j, cur;
            // Iterate thorugh array
            for (i = 1; i &lt; n; i++)
            {
                // Store current element in cur
                cur = arr[i];
                
                // Iterating variable for finding
                // correct position of current element
                j = i - 1;
        
                // Iterate on behind the current element
                // Until we reach start of array or arr[j]&gt;cur
                while (j &gt;= 0 &amp;&amp; arr[j] &gt; cur)
                {
                    // Each step assign arr[j] to arr[j+1]
                    // i.e. move element ahead
                    arr[j + 1] = arr[j];
                    
                    // Decrement j
                    j--;
                }
        
                // We found correct position for cur
                // i.e j+1 so assign that to cur
                arr[j + 1] = cur;
            }
        }
        
        // Display array function 
        void Display_Array(int arr[], int n)
        {
            cout&lt;&lt;&quot;Displaying Array...    : &quot;;
            for (int i = 0; i &lt; n; i++)
                cout &lt;&lt; arr[i] &lt;&lt; &quot; &quot;;
            cout &lt;&lt; endl;
        }
        
        // Main Function
        int main()
        {
            // Sample array we can take input from user also
            int arr[] = {6, 2, 3, 5, 9, 8, 1};
        
            // Number of elements
            int n = sizeof(arr) / sizeof(arr[0]);
        
            // Displaying array before sorting
            Display_Array(arr, n);
        
            // Calling function insertion sort
            Insertion_Sort(arr, n);
        
            // Displaying array after sorting
            Display_Array(arr, n);
        
            return 0;
        }</code></pre>

        <p class="heading2" id="python_imple">Python implementation</p>

        <pre><code class="language-python center"># Insertion sort function
            def Insertion_Sort(arr,n):
                for i in range(1,n):
                    cur = arr[i]
                    j = i - 1
                    while (j &gt;= 0 and arr[j] &gt; cur):
                        arr[j + 1] = arr[j]
                        j-=1
                    arr[j + 1] = cur
            
            # Display array function 
            def Display_Array(arr,n):
                print(&quot;Displaying Array...    : &quot;,end=&quot;&quot;)
                for i in range(n):
                    print(arr[i],end=&quot; &quot;)
                print()
            
            # Main program
            arr = [6, 2, 3, 5, 9, 8, 1]
            n = len(arr)
            
            # Displaying array before sorting
            Display_Array(arr, n)
            
            # Calling function insertion sort
            Insertion_Sort(arr, n)
            
            # Displaying array after sorting
            Display_Array(arr, n)</code></pre>




{% endblock Theory %}
