{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock%}
{% block title %}Home{% endblock %}
{% block body %}

<div class=" d-flex container-fluid row mt-5">
    <div class="container col-sm-5 mt-5 ">
        <div class="h-75 w-75 d-inline-block mt-5 ml-5 text-center">
            <h1 class="heading-2">Welcome to </h1>
            <h1 class=" heading-1 gradient-head my-2">Virtual Labs</h1>
            <h6 class="heading-3 mt-4">One stop destination for coding geeks.<br>Gain CS concepts interactively.</h6>
            <a href="/index" class="btn1 badge badge-dark mt-5">Get Started</a>
        </div>
    </div>
    <div class="container col-sm-5 offset-sm-1">
        <div class="svg_div ml-5 my-3 shadow "></div>
    </div>

</div>
{% endblock body %}