@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


pre > code {
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
}

h1,h2,h3,h4,h5,h6,p,a,li,ul,div,canvas{
    font-family: 'Poppins', sans-serif;
}

.brand-name{
    font-weight: 600;
    font-size: 1.5em;
}

.gradient-head{
    background: linear-gradient(90deg, rgb(221, 192, 253) 0%, rgba(93,4,247,1) 34%, rgba(60,11,186,1) 51%, rgba(157,0,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.scroll-menu {
    overflow-x: auto;
    -webkit-overflow-scrolling: auto;
}

