
.btn1{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight:600;
    background:linear-gradient(90deg, rgba(230,230,230,1) 0%, rgba(93,4,247,1) 34%, rgba(60,11,186,1) 51%, rgba(157,0,255,1) 100%);
    padding: 10px 35px;
    border-radius: 10px;
}